PLOTS/
LSFJOB_*
*.d
**.so
bin
obj
**.root
**.swp
**.log
**.swo
**.history
**.rndm
**.sh
condorSubmit
events/
macros/
/data/cmszfs1/user/hiltbran/HGCAL_LDMX/PFCalEE.log
G4History.macro
g4steer.mac
userlib/src/dict.cc
userlib/include/dict.h
PFCalEE
